/* Define font name */
@font-face
{
  font-family: museo;
  src: url(../static/fonts/MuseoSans_500.otf);
}

body {
	overflow: hidden;
}

#description h1 {
	font-size: rem-calc(22);
}

#description small {
	font-size: rem-calc(11.5);
}

#description p {
	margin-top: 30px;
}

#description-text {
	margin-top: 20px;
	overflow-y: scroll;
	max-height: 450px;
}

.no-padding {
	padding:0px;
}

#language-menu .lg-not-selected[id="en"] {
	-moz-box-shadow:    inset 0 0 10px #a4a6a2;
   	-webkit-box-shadow: inset 0 0 10px #a4a6a2;
   	box-shadow:         inset 0 0 10px #a4a6a2;
	
	border:0px;
   	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;  
   	-moz-border-top-right-radius: 4px; 
   	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
   	-moz-border-bottom-right-radius: 4px; 
}

#language-menu .lg-not-selected[id="nl"] {
	-moz-box-shadow:    inset 0 0 10px #a4a6a2;
   	-webkit-box-shadow: inset 0 0 10px #a4a6a2;
   	box-shadow:         inset 0 0 10px #a4a6a2;
	
	border:0px;
   	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;  
   	-moz-border-top-left-radius: 4px; 
   	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
   	-moz-border-bottom-left-radius: 4px; 	
}

.lg-format {
	margin:auto;
	margin-top: 14px;
	text-align:center;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.page-details[id="map-canvas"] {
	display: none;
}

#map-canvas img {
	max-width: none;
}

#map-canvas {
	height: 100%;
}


.page-details [id="image-wrapper"] {
	position: absolute;
	margin:auto;
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	top: 0px;
	left: 0px;
}

#image-wrapper img {
	position: absolute;
	overflow: hidden;
	top:0px;
	left:0px;
	width: 100%;
}

#content-image {
	overflow: hidden;
}

.page-details[id="image-wrapper"] {
	display: none;
} 

.page-map[id="image-wrapper"] {
	display: none;
}

.page-details[id="description"] {
	position:absolute;
	top:0px;
    right:0px;
  	padding:45px;
	color:white;
    background-image: none;
    height: 100%;
    background-color:rgba(59, 55, 51, 0.95);
}

.page-map[id="description"] {
	position:absolute;
	display: none;
	top:0px;
    right:0px;
  	padding:45px;
	color:white;
    background-image: none; 
    height: 100%;
    background-color:rgba(59, 55, 51, 0.95);
}

#left {
	background-color: none;
    background-image: none;
    position:absolute;
    display: none;
    top:0px;
    left:0px;
}

#close-description {
	position:absolute;
	top:20px;
	right: 25px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#close-container {
	position:relative;
}

#close-container img {
	position: absolute;
	left:50%;
	top:50%;
	width: 25px;
	height: 25px;
	background: url('../static/icon-assets.png') -70px -40px;
	margin-left: -12.5px;
	margin-top: 6px;
}

#description-title {
	margin-top: 135px;
	background: none;
	line-height: 1.4;
}
#description-content {
	background-color: none;
	line-height: 1.4;
	height: 450px;
	overflow: auto;
}

#description-content p {
}


#faux-map {
	position:absolute;
	cursor: pointer;
	bottom: 50px;
	left: 50px;
	width: 126px;
	height: 126px;
}

#faux-map img {
	max-width: 100%;
	max-height: 100%;
}

.page-map[id="faux-map"] {
	display: none;
}

.page-details[id="main-logo"] {
	position: absolute;
	display: none;
	top:-3px;
	right: 85px;
	height: 145px;
	width: 100px;
	background-image: url("../static/logo@2x.png");
	background-size: 100px 145px;

}

.page-map[id="main-logo"] {
	position: absolute;
	top:-3px;
	right: 85px;
	height: 145px;
	width: 100px;
	background-image: url("../static/logo@2x.png");
	background-size: 100px 145px;
}

#description-logo {
	position: absolute;
	display: none;
	top: -2px;
	left: 45px;
	height: 145px;
	width: 100px;
	background-image: url("../static/logo@2x.png");
	background-size: 100px 145px;
}

#small-logo {
	position: absolute;
	top: -3px;
	left: 45px;
	height: 145px;
	width: 100px;
	background-image: url("../static/logo@2x.png");
	background-size: 100px 145px;
}

.page-details[id="language-menu"] {
	position:absolute;
	display: none;
	bottom: 50px;
	right: 300px;
	margin-right: 10px;
	width: 100px;
	height: 40px;
	border:0px;
	border-radius: 4px;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-color: #dfe0dd;
	background-color: #dfe0dd;
}

.page-map[id="language-menu"] {
	position:absolute;
	bottom: 50px;
	right: 300px;
	margin-right: 10px;
	width: 100px;
	height: 40px;
	border:0px;
	border-radius: 4px;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-color: #dfe0dd;
	background-color: #e0e0de;
}

#language-menu div {
	position: relative;
	font-size: 12px;
	height: 100%;
	color:#999999;
	text-shadow: 1px 1px #ffffff;
}

#language-menu #nl:hover {
	background-color: rgba(255, 255, 255, 1.0000);
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#language-menu #en:hover {
	background-color: rgba(255, 255, 255, 1.0000);
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;


}

#language-menu .lg-selected[id="nl"] {
	background-color: rgba(255, 255, 255, 0.90);
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#language-menu .lg-selected[id="en"] {
	background-color: rgba(255, 255, 255, 0.90);
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#language-menu #en a {
	text-decoration: none;
	color: #999999;
}

#language-menu #nl a {
	text-decoration: none;
	color: #999999;
	text-shadow: 1px 1px #ffffff;
}

.page-details[id="main-menu"] {
	padding: 0px;
	position:absolute;
	overflow: hidden;
	display: none;
	/*display: none;*/
	bottom: 50px;
	right: 85px;
	width: 205px;
	height: 40px;
	border:1px solid;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-radius: 4px;
	border-color: #dfe0dd;
	background-color: rgba(255, 255, 255, 0.90);
}

.page-map[id="main-menu"] {
	padding: 0px;
	position:absolute;
	overflow: hidden;
	/*display: none;*/
	bottom: 50px;
	right: 85px;
	width: 205px;
	height: 40px;
	border:1px solid;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-radius: 4px;
	border-color: #dfe0dd;
	background-color: rgba(255, 255, 255, 0.90);
}

#main-menu div {
	height: 100%;
	padding: 0px;
}

#main-menu #share:hover {
	background-color: rgba(255, 255, 255, 1.0000);
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#main-menu #share {
	position: relative;
}

#main-menu #share img {
	position: absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
	background: url('../static/icon-assets.png') -53px -2px;
	margin-left: -10px;
	margin-top: -10px;
}

#main-menu #download {
	position: relative;
}

#main-menu #download img {
	position: absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
	background: url('../static/icon-assets.png') -82px -3px;
	margin-left: -10px;
	margin-top: -10px;
}

#main-menu #download:hover {
	background-color: rgba(255, 255, 255, 1.0000);
	cursor: pointer;
}

#main-menu #more-information {
	position: relative;
}

#main-menu #more-information:hover {
	background-color: rgba(255, 255, 255, 1.0000);
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#more-information {
	padding: 0px;
	cursor: pointer;
	font-size: 12px;
	color:#999999;
}

#more-information #info-icon {
	margin-top:8px;
	margin-left:5px;
}

#more-information #info-text {
	margin-top:15px;
	margin-left:-8px;
}

#languages {
	position: absolute;
	bottom: 35px;
	left: 14%;
	width: 100px;
	height: 40px;
	background-color: #2e2928;
	border:0px solid;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-radius: 4px;
	border-color: #2e2928;
}

#languages div {
	font-size: 12px;
	height: 100%;
	color:#4c4443;
	text-shadow:-1px -1px black;
}

#languages a {
	text-decoration: none;
	color:#4c4443;
	text-shadow:-1px -1px black;
}


#languages #nl:hover {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#languages #en:hover {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#languages .lg-selected[id="nl"] {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#languages .lg-selected[id="en"] {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#content-menu {
	padding: 0px;
	position: absolute;
	bottom: 35px;
	right: 15%;
	width: 100px;
	height: 40px;
	background-color: #2e2928;
	border:0px solid;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-radius: 4px;
	border-color: #2e2928;
}

#content-menu div {
	height: 100%;
}

#content-menu #share:hover {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px; 
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#content-menu #download:hover {
	background-color: #151312;
	cursor: pointer;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;  
    -moz-border-top-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px; 
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#content-menu #share {
	position: relative;
}

#content-menu #share img {
	position: absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 19px;
	background: url('../static/icon-assets.png') 47px -3px;
	margin-left: -9.5px;
	margin-top: -9.5px;
}

#content-menu #download {
	position: relative;
}

#content-menu #download img {
	position: absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
	background: url('../static/icon-assets.png') 20px -3px;
	margin-left: -10px;
	margin-top: -10px;
}

#description-menus {
	
}

.page-details[id="small-info"] {
	position: absolute;
	display: none;
	cursor: pointer;
	bottom: 50px;
	right: 50px;
	width: 40px;
	height: 40px;
	background-color: rgba(239, 239, 236, 1.0000);
	border:1px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-color: rgba(205, 206, 202, 1.0000);
}


.page-map[id="small-info"] {
	position: absolute;
	cursor: pointer;
	display: none;	
	bottom: 50px;
	right: 50px;
	width: 40px;
	height: 40px;
	background-color: rgba(239, 239, 236, 1.0000);
	border:1px solid;
	border-radius: 4px;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-color: rgba(205, 206, 202, 1.0000);
}


#small-info:hover {
	background-color: white;
}

#small-info img {
	position: absolute;
	left:50%;
	top:50%;
	width: 20px;
	height: 20px;
	background: url('../static/icon-assets.png') 73px 0px;
	margin-left: -10px;
	margin-top: -10px;
}

#media-sharing {
	position: absolute;
	display: none;
	bottom: 120px;
	right: 160px;
	width: 130px;
	height: 120px;
	background-color: rgba(255, 255, 255, 1.000);
	border:0px solid;
	-webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2);
}

#media-sharing div {
	height: 33.3%;
	font-size: 13px;
}

#media-sharing #title {
	border:0px solid;
	-webkit-border-top-left-radius: 4px;  
    -moz-border-top-left-radius: 4px;  
	border-top-left-radius: 4px;
	-webkit-border-top-rigt-radius: 4px;  
    -moz-border-top-right-radius: 4px;  
	border-top-right-radius: 4px;
	border-bottom: 1px solid;
	border-bottom-color: #dfe0dd;
	background-color: #f1f1f1;
	color: #999999;
}

#media-sharing:after, #media-sharing:before {
	top: 100%;
	left: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#media-sharing:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
#media-sharing:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

#media-sharing #title div {
	margin-top: 13px;
}

#media-sharing #facebook div {
	margin-top: 15px;
}

#media-sharing #facebook a {
	text-decoration: none;
	color: #3B5998;
}

#media-sharing #twitter a {
	text-decoration: none;
	color: #4099ff;
}

#media-sharing #facebook div img {
	margin-top: -8px;
}

#media-sharing #facebook div span {
	margin-left: 10px;
}

#media-sharing #twitter div {
	margin-top: 15px;
	color: #4099ff;
}

#media-sharing #twitter div img {
	margin-top: -8px;
}

#media-sharing #twitter div span {
	margin-left: 10px;
}

#media-sharing #twitter, #media-sharing #facebook {
	cursor: pointer;
}


